---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [7]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [91]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [169]:
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    def get_list_of_university_towns():
        towns = pd.read_csv('university_towns.txt', sep='\n',header=None)
        list1 = []
        list2 = []
        for item in towns.iloc[:,0]:
            if item[-6:] == '[edit]':
                temp = item[:-6]
            list1.append(temp)
            list2.append(item.split('(')[0])
        towns['State'] = list1
        towns['RegionName'] = list2
        towns['temp'] = towns.iloc[:,0]
        towns = towns[['State', 'RegionName', 'temp']]
        towns = towns[towns['RegionName'] != towns['temp']]
        towns = towns.reset_index()
        towns = towns[['State','RegionName']].set_index(['State','RegionName'])
        return towns

    get_list_of_university_towns()

Empty DataFrame
Columns: []
Index: [(Alabama, Auburn ), (Alabama, Florence ), (Alabama, Jacksonville ), (Alabama, Livingston ), (Alabama, Montevallo ), (Alabama, Troy ), (Alabama, Tuscaloosa ), (Alabama, Tuskegee ), (Alaska, Fairbanks ), (Arizona, Flagstaff ), (Arizona, Tempe ), (Arizona, Tucson ), (Arkansas, Arkadelphia ), (Arkansas, Conway ), (Arkansas, Fayetteville ), (Arkansas, Jonesboro ), (Arkansas, Magnolia ), (Arkansas, Monticello ), (Arkansas, Russellville ), (Arkansas, Searcy ), (California, Angwin ), (California, Arcata ), (California, Berkeley ), (California, Chico ), (California, Claremont ), (California, Cotati ), (California, Davis ), (California, Irvine ), (California, Isla Vista ), (California, University Park, Los Angeles ), (California, Merced ), (California, Orange ), (California, Palo Alto ), (California, Pomona ), (California, Redlands ), (California, Riverside ), (California, Sacramento ), (California, University District, San Bernardino ), (California, San Diego ), (California, San Luis Obispo ), (California, Santa Barbara ), (California, Santa Cruz ), (California, Turlock ), (California, Westwood, Los Angeles ), (California, Whittier ), (Colorado, Alamosa ), (Colorado, Boulder ), (Colorado, Durango ), (Colorado, Fort Collins ), (Colorado, Golden ), (Colorado, Grand Junction ), (Colorado, Greeley ), (Colorado, Gunnison ), (Colorado, Pueblo, Colorado ), (Connecticut, Fairfield ), (Connecticut, Middletown ), (Connecticut, New Britain ), (Connecticut, New Haven ), (Connecticut, New London ), (Connecticut, Storrs ), (Connecticut, Willimantic ), (Delaware, Dover ), (Delaware, Newark ), (Florida, Ave Maria ), (Florida, Boca Raton ), (Florida, Coral Gables ), (Florida, DeLand ), (Florida, Estero ), (Florida, Gainesville ), (Florida, Orlando ), (Florida, Sarasota ), (Florida, St. Augustine ), (Florida, St. Leo ), (Florida, Tallahassee ), (Florida, Tampa ), (Georgia, Albany ), (Georgia, Athens ), (Georgia, Atlanta ), (Georgia, Carrollton ), (Georgia, Demorest ), (Georgia, Fort Valley ), (Georgia, Kennesaw ), (Georgia, Milledgeville ), (Georgia, Mount Vernon ), (Georgia, Oxford ), (Georgia, Rome ), (Georgia, Savannah ), (Georgia, Statesboro ), (Georgia, Valdosta ), (Georgia, Waleska ), (Georgia, Young Harris ), (Hawaii, Manoa ), (Idaho, Moscow ), (Idaho, Pocatello ), (Idaho, Rexburg ), (Illinois, Carbondale ), (Illinois, Champaign–Urbana ), (Illinois, Charleston ), (Illinois, DeKalb ), (Illinois, Edwardsville ), ...]

[513 rows x 0 columns]

In [190]:
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    def get_recession_start():
        gdp = pd.read_excel('gdplev.xls', skiprows = 5).drop(index=[0,1])
        gdp['Quarter'] = gdp['Unnamed: 4']
        gdp['GDP'] = gdp['GDP in billions of chained 2009 dollars.1']
        gdp = gdp.loc[214:].reset_index()
        gdp  = gdp[['Quarter', 'GDP']]
        list1 = []
        for i in range(len(gdp)-2):
            if (gdp.iloc[i,1] > gdp.iloc[i+1,1] and gdp.iloc[i+1,1] > gdp.iloc[i+2,1]):
                list1.append(gdp.iloc[i,0])
        
        return list1[0]

get_recession_start()

'2008q2'

In [85]:
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    def get_recession_end():
        gdp = pd.read_excel('gdplev.xls', skiprows = 5).drop(index=[0,1])
        gdp['Quarter'] = gdp['Unnamed: 4']
        gdp['GDP'] = gdp['GDP in billions of chained 2009 dollars.1']
        gdp = gdp.loc[247:].reset_index()
        gdp  = gdp[['Quarter', 'GDP']]
        list1 = []
        for i in range(len(gdp)-2):
            if (gdp.iloc[i,1] < gdp.iloc[i+1,1] and gdp.iloc[i+1,1] < gdp.iloc[i+2,1]):
                list1.append(gdp.iloc[i+2,0])

        return list1[0]
    
get_recession_end()

'2009q4'

In [88]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    gdp = pd.read_excel('gdplev.xls', skiprows = 5).drop(index=[0,1])
    gdp['Quarter'] = gdp['Unnamed: 4']
    gdp['GDP'] = gdp['GDP in billions of chained 2009 dollars.1']
    gdp = gdp.loc[247:253].reset_index()
    gdp  = gdp[['Quarter', 'GDP']].set_index('Quarter')
    return gdp['GDP'].idxmin()

get_recession_bottom()

'2009q2'

In [147]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    house = pd.read_csv('City_Zhvi_AllHomes.csv').replace(states).set_index(['State','RegionName']).sort_values(by=['State','RegionName'])
    temp = house.iloc[:,51:]
    year = 2000
    quart = 1
    for i in range(0,len(temp.columns),3):
        house[str(year)+'q'+str(quart)] = temp.iloc[:,i:i+3].mean(axis=1)
        if quart < 4:
            quart = quart+1
        else:
            quart = 1
            year = year + 1
    house['2016q3'] = house[['2016-07','2016-08']].mean(axis=1)
    house = house.iloc[:,-67:]
    return house

convert_housing_data_to_quarters()

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69200.000000   69466.666667   71133.333333
          Alabaster        122833.333333  123133.333333  123566.666667
          Albertville       72900.000000   72633.333333   73600.000000
          Arab              82066.666667   81266.666667   82333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       79300.000000   78566.666667   80633.333333
          Bayou La Batre    44300.000000   44533.333333   43866.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54300.000000   54733.333333   55633.333333
          Boaz              70466.666667   70133.333333   71000.000000
          Brent             94100.000000   95133.333333   98000.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         94100.000000   97600.000000   99966.666667
          Buhl              93033.333333   96266.666667   96500.000000
          Calera           110000.000000  109033.333333  107466.666667
          Center Point      81066.666667   81600.000000   81800.000000
          Centreville       96400.000000   96933.333333   99500.000000
          Chalkville        94366.666667   94500.000000   94333.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          166066.666667  167166.666667  166833.333333
          Chickasaw         53000.000000   54466.666667   55900.000000
          Chunchula         81466.666667   82000.000000   82866.666667
          Citronelle        66333.333333   67700.000000   67833.333333
          Clay             121600.000000  123666.666667  125400.000000
          Coden             64100.000000   65766.666667   68533.333333
          Coker            120733.333333  118933.333333  116633.333333
          Concord           78566.666667   79533.333333   81800.000000
          Cottondale       101966.666667  104000.000000  105433.333333
...                                  ...            ...            ...
Wisconsin Vernon           180400.000000  174866.666667  175533.333333
          Vienna           180733.333333  181800.000000  184866.666667
          Vinland          124300.000000  132600.000000  136766.666667
          Wales                      NaN            NaN            NaN
          Waterford        119900.000000  119633.333333  121233.333333
          Waukesha         139600.000000  136833.333333  138066.666667
          Waunakee         190233.333333  192300.000000  193433.333333
          Waupun            83966.666667   84300.000000   84600.000000
          Wausau            69866.666667   70233.333333   70533.333333
          Wayne                      NaN            NaN            NaN
          West Allis        81533.333333   83666.666667   82000.000000
          Weston            82133.333333   83600.000000   85333.333333
          Wheatland        131566.666667  133966.666667  136766.666667
          Whitelaw          99066.666667  106300.000000  112000.000000
          Williams Bay     117100.000000  111866.666667  110433.333333
          Wilson           129366.666667  131166.666667  135466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        123600.000000  123966.666667  125200.000000
          Wind Point       146966.666667  141533.333333  144266.666667
          Wisconsin Dells  102600.000000  104500.000000  105433.333333
          Wolf River        98066.666667  102266.666667  106266.666667
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        136400.000000  133833.333333  138600.000000
Wyoming   Bar Nunn          90966.666667   88566.666667   91366.666667
          Burns            103466.666667  106966.666667  111633.333333
          Casper            89900.000000   89200.000000   92000.000000
          Cheyenne         119066.666667  121066.666667  122966.666667
          Evansville       127933.333333  130500.000000  131900.000000
          Pine Bluffs       94700.000000   94433.333333   96900.000000

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        73033.333333   74033.333333   73600.000000
          Alabaster        123300.000000  124233.333333  127133.333333
          Albertville       75533.333333   76266.666667   73300.000000
          Arab              83833.333333   84700.000000   82733.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       83766.666667   87533.333333   86400.000000
          Bayou La Batre    42866.666667   42633.333333   45066.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        56633.333333   57366.666667   58100.000000
          Boaz              72566.666667   72666.666667   69466.666667
          Brent             97166.666667   97666.666667   98766.666667
          Brighton                   NaN            NaN            NaN
          Brookwood        100633.333333  103300.000000  103033.333333
          Buhl              97933.333333  101466.666667  102166.666667
          Calera           108966.666667  111066.666667  113933.333333
          Center Point      82900.000000   84266.666667   84233.333333
          Centreville       98333.333333   98900.000000   99600.000000
          Chalkville        95300.000000   97233.333333   97900.000000
          Chancellor                 NaN            NaN            NaN
          Chelsea          169266.666667  173366.666667  175066.666667
          Chickasaw         55633.333333   53933.333333   53533.333333
          Chunchula         84666.666667   86000.000000   86700.000000
          Citronelle        67700.000000   69100.000000   71233.333333
          Clay             127666.666667  128366.666667  128800.000000
          Coden             68633.333333   70466.666667   72466.666667
          Coker            113733.333333  115133.333333  117633.333333
          Concord           84500.000000   85800.000000   85233.333333
          Cottondale       105900.000000  108600.000000  109366.666667
...                                  ...            ...            ...
Wisconsin Vernon           183433.333333  189766.666667  191800.000000
          Vienna           189233.333333  191800.000000  192633.333333
          Vinland          141800.000000  147966.666667  147333.333333
          Wales                      NaN            NaN            NaN
          Waterford        125133.333333  130933.333333  137066.666667
          Waukesha         145366.666667  150066.666667  152533.333333
          Waunakee         195900.000000  198533.333333  199933.333333
          Waupun            84566.666667   86166.666667   87533.333333
          Wausau            69733.333333   70633.333333   72566.666667
          Wayne                      NaN            NaN            NaN
          West Allis        79200.000000   79933.333333   81133.333333
          Weston            86833.333333   87933.333333   89700.000000
          Wheatland        141033.333333  143133.333333  143700.000000
          Whitelaw         115900.000000  115866.666667  114966.666667
          Williams Bay     111866.666667  115266.666667  119200.000000
          Wilson           141433.333333  144366.666667  143266.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        129766.666667  137166.666667  142700.000000
          Wind Point       155400.000000  162566.666667  168566.666667
          Wisconsin Dells  105533.333333  106300.000000  108966.666667
          Wolf River       110400.000000  113466.666667  116733.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        145800.000000  153200.000000  159366.666667
Wyoming   Bar Nunn          97766.666667   99633.333333   99533.333333
          Burns            114733.333333  117300.000000  117266.666667
          Casper            94933.333333   96700.000000   99100.000000
          Cheyenne         124933.333333  126266.666667  126233.333333
          Evansville       130800.000000  131333.333333  131766.666667
          Pine Bluffs      101400.000000  104533.333333  106033.333333

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73033.333333   73366.666667   73200.000000
          Alabaster        127633.333333  127000.000000  127966.666667
          Albertville       72566.666667   75666.666667   76966.666667
          Arab              82333.333333   86566.666667   87833.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85200.000000   84333.333333   84233.333333
          Bayou La Batre    45266.666667   45533.333333   45466.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        58666.666667   59233.333333   59766.666667
          Boaz              69033.333333   71900.000000   72933.333333
          Brent            102733.333333  104333.333333  102833.333333
          Brighton                   NaN            NaN            NaN
          Brookwood        100033.333333   99766.666667  100066.666667
          Buhl             102300.000000  102733.333333  101200.000000
          Calera           113066.666667  111433.333333  111400.000000
          Center Point      85166.666667   85766.666667   86433.333333
          Centreville      103466.666667  105333.333333  105000.000000
          Chalkville        99266.666667   99466.666667  100700.000000
          Chancellor                 NaN            NaN            NaN
          Chelsea          174133.333333  171233.333333  170566.666667
          Chickasaw         53300.000000   54000.000000   54733.333333
          Chunchula         86700.000000   85900.000000   86666.666667
          Citronelle        71266.666667   70333.333333   68600.000000
          Clay             130033.333333  130833.333333  131133.333333
          Coden             73133.333333   73533.333333   70566.666667
          Coker            121466.666667  123166.666667  120066.666667
          Concord           84633.333333   85600.000000   88866.666667
          Cottondale       109466.666667  109766.666667  108433.333333
...                                  ...            ...            ...
Wisconsin Vernon           196033.333333  200800.000000  201666.666667
          Vienna           194533.333333  197100.000000  201366.666667
          Vinland          150200.000000  150633.333333  146766.666667
          Wales                      NaN            NaN            NaN
          Waterford        142266.666667  144833.333333  148966.666667
          Waukesha         154166.666667  157566.666667  157866.666667
          Waunakee         202066.666667  204500.000000  208133.333333
          Waupun            87233.333333   87400.000000   87566.666667
          Wausau            73766.666667   75500.000000   77933.333333
          Wayne                      NaN            NaN            NaN
          West Allis        81933.333333   83766.666667   87166.666667
          Weston            90866.666667   94000.000000   96466.666667
          Wheatland        143066.666667  143133.333333  145733.333333
          Whitelaw         115900.000000  117233.333333  117166.666667
          Williams Bay     120566.666667  124433.333333  130100.000000
          Wilson           142466.666667  142500.000000  140266.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        146400.000000  149766.666667  154066.666667
          Wind Point       171166.666667  169066.666667  175966.666667
          Wisconsin Dells  110900.000000  114633.333333  116833.333333
          Wolf River       117833.333333  118700.000000  117566.666667
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        162700.000000  163600.000000  169933.333333
Wyoming   Bar Nunn          98633.333333   98200.000000  100100.000000
          Burns            118000.000000  117266.666667  117366.666667
          Casper           100166.666667  101466.666667  101700.000000
          Cheyenne         127533.333333  128400.000000  129266.666667
          Evansville       133200.000000  133866.666667  131466.666667
          Pine Bluffs      104966.666667  102566.666667  103033.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73000.000000    ...      76566.666667
          Alabaster        127633.333333    ...     147333.333333
          Albertville       74866.666667    ...      84300.000000
          Arab              87866.666667    ...     112400.000000
          Ardmore                    NaN    ...     140000.000000
          Axis                       NaN    ...     111533.333333
          Baileyton                  NaN    ...      88566.666667
          Bay Minette       84400.000000    ...     111733.333333
          Bayou La Batre    45866.666667    ...      50600.000000
          Bessemer                   NaN    ...      55233.333333
          Birmingham        59800.000000    ...      61133.333333
          Boaz              70233.333333    ...      81666.666667
          Brent            102800.000000    ...      96000.000000
          Brighton                   NaN    ...      45400.000000
          Brookwood        100600.000000    ...     109333.333333
          Buhl              98500.000000    ...     128666.666667
          Calera           111500.000000    ...     126333.333333
          Center Point      86766.666667    ...      78066.666667
          Centreville      106000.000000    ...      97900.000000
          Chalkville       100566.666667    ...     104266.666667
          Chancellor                 NaN    ...     116966.666667
          Chelsea          173266.666667    ...     198900.000000
          Chickasaw         55833.333333    ...      60166.666667
          Chunchula         87400.000000    ...     121166.666667
          Citronelle        68033.333333    ...      89266.666667
          Clay             131200.000000    ...     134033.333333
          Coden             67700.000000    ...      76966.666667
          Coker            117566.666667    ...     144266.666667
          Concord           92900.000000    ...     101766.666667
          Cottondale       107800.000000    ...     129733.333333
...                                  ...    ...               ...
Wisconsin Vernon           204300.000000    ...     256800.000000
          Vienna           201500.000000    ...     267366.666667
          Vinland          149133.333333    ...     183166.666667
          Wales                      NaN    ...     263033.333333
          Waterford        153433.333333    ...     213533.333333
          Waukesha         158233.333333    ...     180900.000000
          Waunakee         208933.333333    ...     282266.666667
          Waupun            88000.000000    ...     113166.666667
          Wausau            78900.000000    ...      93500.000000
          Wayne                      NaN    ...     239966.666667
          West Allis        88800.000000    ...      91766.666667
          Weston            99633.333333    ...     133500.000000
          Wheatland        147233.333333    ...     170100.000000
          Whitelaw         114933.333333    ...     121033.333333
          Williams Bay     134466.666667    ...     228800.000000
          Wilson           138066.666667    ...     158633.333333
          Wilson                     NaN    ...     172800.000000
          Wind Lake        159233.333333    ...     226166.666667
          Wind Point       187100.000000    ...     257233.333333
          Wisconsin Dells  118233.333333    ...     138433.333333
          Wolf River       116166.666667    ...     163433.333333
          Woodruff                   NaN    ...     174000.000000
          Woodville                  NaN    ...     167766.666667
          Yorkville        174666.666667    ...     236733.333333
Wyoming   Bar Nunn         102000.000000    ...     200833.333333
          Burns            117800.000000    ...     163266.666667
          Casper           101933.333333    ...     176300.000000
          Cheyenne         130633.333333    ...     176633.333333
          Evansville       132300.000000    ...     301133.333333
          Pine Bluffs      104766.666667    ...     152400.000000

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        73133.333333   71300.000000   72800.000000
          Alabaster        148433.333333  148866.666667  149266.666667
          Albertville       86033.333333   88133.333333   89100.000000
          Arab             111466.666667  110933.333333  109333.333333
          Ardmore          140100.000000  142400.000000  143466.666667
          Axis             112233.333333  110166.666667  109366.666667
          Baileyton         93433.333333   94200.000000   95433.333333
          Bay Minette      110000.000000  110366.666667  112933.333333
          Bayou La Batre    51600.000000   51233.333333   50333.333333
          Bessemer          54933.333333   54800.000000   56466.666667
          Birmingham        59866.666667   59566.666667   61366.666667
          Boaz              82366.666667   83600.000000   84933.333333
          Brent             99100.000000  101766.666667  102833.333333
          Brighton          44166.666667   42833.333333   43133.333333
          Brookwood        112733.333333  117000.000000  118366.666667
          Buhl             136600.000000  141066.666667  141833.333333
          Calera           127333.333333  128266.666667  128133.333333
          Center Point      79933.333333   80066.666667   80200.000000
          Centreville      100766.666667  103066.666667  106000.000000
          Chalkville       105200.000000  106700.000000  107366.666667
          Chancellor       116700.000000  116400.000000  111066.666667
          Chelsea          199433.333333  201366.666667  204533.333333
          Chickasaw         60100.000000   58566.666667   57700.000000
          Chunchula        122500.000000  123366.666667  124100.000000
          Citronelle        90466.666667   91066.666667   91966.666667
          Clay             135033.333333  137066.666667  139933.333333
          Coden             77466.666667   78633.333333   80900.000000
          Coker            151733.333333  157166.666667  157533.333333
          Concord           96233.333333   94833.333333  100966.666667
          Cottondale       132733.333333  134066.666667  135066.666667
...                                  ...            ...            ...
Wisconsin Vernon           255066.666667  253633.333333  254733.333333
          Vienna           268033.333333  267766.666667  268300.000000
          Vinland          184033.333333  183866.666667  186033.333333

In [186]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    house = convert_housing_data_to_quarters().loc[:,get_recession_start():get_recession_bottom()]
    univ = get_list_of_university_towns()
    comb = pd.merge(house, univ, left_index=True, right_index=True, how='inner')
    comb['uni'] = True
    ans = comb.merge(house, left_index=True, right_index=True, how='outer')
    
    
    
    return comb

run_ttest()

Empty DataFrame
Columns: [2008q2, 2008q3, 2008q4, 2009q1, 2009q2, temp]
Index: []

In [189]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    unitowns = get_list_of_university_towns()
    bottom = get_recession_bottom()
    start = get_recession_start()
    hdata = convert_housing_data_to_quarters()
    bstart = hdata.columns[hdata.columns.get_loc(start) - 1]
    
    hdata['ratio'] =  hdata[bstart] - hdata[bottom]
    hdata = hdata[[bottom, bstart, 'ratio']]
    hdata = hdata.reset_index()
    
    unitowns_hdata = pd.merge(hdata,unitowns,how='inner',on=['State','RegionName'])
    unitowns_hdata['uni'] = True
    hdata2 = pd.merge(hdata, unitowns_hdata, how='outer', on=['State','RegionName',bottom, bstart, 'ratio'])
    hdata2['uni'] = hdata2['uni'].fillna(False)
    
    ut = hdata2[hdata2['uni'] == True]
    nut = hdata2[hdata2['uni'] == False]
    
    t,p = ttest_ind(ut['ratio'].dropna(), nut['ratio'].dropna())
    
    different = True if p<0.01 else False
    better = "university town" if ut['ratio'].mean() < nut['ratio'].mean() else "non-university town"
    
    return(different, p, better)

run_ttest()

(False, nan, 'non-university town')